@font-face {
    font-family: Gilroy;
    src: url(@/assets/fonts/gilroy/Gilroy-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Gilroy;
    src: url(@/assets/fonts/gilroy/Gilroy-SemiBold.ttf);
    font-weight: 600;
}