@use '@/assets/styles/gilroy-font.scss';
@import '@/assets/styles/mixins.scss';

* {
    box-sizing: border-box;
    line-height: normal;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: $font-family;
    font-weight: normal;
}

.page-template {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 275px);

    .page-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 1440px;

        h2 {
            font-size: 40px;
            margin-top: 20px;
        }
    }
}

.leaflet-control-attribution {
    display: none;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.basic-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 30px;

    .basic-input {
        height: 50px;
        width: 970px;
        max-width: 90vw;
        flex: 0 1 auto;
        padding: 0 25px;
        border: 2px $background solid;
        font-size: 16px;
        font-family: $font-family;
        color: black;
        background-color: inherit;
    }

    .basic-button {
        height: 60px;
        min-width: 170px;
        padding: 0 10px;
        flex: 0 0 auto;
        font-size: 20px;
        font-weight: 500;
        @include hover-button($background, white, $primary);
    }
}
