$primary: #42aaff;
$background: #004175;
$font-color: #606060;
$dark-font-color: #363636;
$border-light-gray: #e4e4e4;
$hint-background-light-gray: #f0f0f0;
$product-page-background: #f3f3f3;
$shadow: #0000001a;
$font-family: Gilroy, Arial, sans-serif;
